In [1]:
# 점포 별 판매량의 추이를 그래프로 표현
# 상품의 종류를 나누어서 표현
# 가장 많이 팔린 점포만 확인
# 범주형 데이터

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('font',family = 'Malgun Gothic')

In [3]:
# df1= pd.read_csv('Data09.csv') 글자가 깨지기 때문에 인코딩이 필요하다
# 음료회사 데이터
df1= pd.read_csv('Data09.csv',encoding='cp949')
print(df1.shape)
df1.head()

(117, 646)

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1801828.0,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1801859.0,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,40786179.0,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df1.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)

In [5]:
df1.drop(columns=['순번','상품코드'])
# 판매점을 눕혀보고싶다 옆으로

,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,(1160)광교점,(1161)과천점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,수량,수량,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062","11,666","2,928",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,234,78,...,0,25,76,72,54,72,15,38,27,89
3,BW1 355ml (낱캔),1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,RB 500ml,"2,158",4,9,10,27,0,11,14,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,CAT1 355ml*12캔+카카오 에코백+치,179,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,CAT2 355*24캔 + 진라면 6캔,212,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
114,CAT2 1.6L*6,"6,564",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,CAT2 1.6L,"125,144",365,564,796,948,594,283,401,280,...,241,196,379,120,273,128,354,106,242,122
116,CAT1 1.6L,"22,796",113,101,168,93,107,50,256,78,...,36,14,80,29,42,54,28,9,28,24

In [6]:
df1.drop(columns=['순번','상품코드']).set_index('상품명')
# 이런식으로 하면 숫자만 안으로 들어오게 된다.

,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,(1160)광교점,(1161)과천점,(1162)김해터미널점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
상품명,,,,,,,,,,,,,,,,,,,,,
NaN,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062","11,666","2,928","7,712",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,234,78,1,...,0,25,76,72,54,72,15,38,27,89
BW1 355ml (낱캔),1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
RB 500ml,"2,158",4,9,10,27,0,11,14,13,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CAT1 355ml*12캔+카카오 에코백+치,179,0,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CAT2 355*24캔 + 진라면 6캔,212,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
CAT2 1.6L*6,"6,564",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CAT2 1.6L,"125,144",365,564,796,948,594,283,401,280,426,...,241,196,379,120,273,128,354,106,242,122
CAT1 1.6L,"22,796",113,101,168,93,107,50,256,78,99,...,36,14,80,29,42,54,28,9,28,24

In [7]:
pd.DataFrame(df1.drop(columns=['순번','상품코드']).set_index('상품명').stack())
# 지점별로 수량이 들어가있다ㅣ.

                        0
상품명
NaN        합계          수량
          (1154)의정부점   수량
          (1155)별내점    수량
          (1156)풍산점    수량
          (1157)김포한강점  수량
...                    ..
CAT1 1.6L (L38)율전점     54
          (L39)본오점     28
          (L40)검암점      9
          (L44)신길점     28
          (L46)용호점     24

[75231 rows x 1 columns]

In [14]:
stack_data=df1.drop(columns=['순번','상품코드']).set_index('상품명').stack()

In [9]:
df2=pd.DataFrame(stack_data).reset_index()

In [21]:
cond1 = (df2['상품명'].isnull())
cond2=(df2['상품명']!='합 계')
cond3 = (df2['level_1']!=' 합계') #공백 주의
df3=df2.loc[(~cond1)&(cond2)&(cond3)]
df4=df3.rename(columns={'level_1':'점포명', 0:'판매량'})
#이게 전부 상품명이 미싱된 값들의 반대의 의미를 가진 ~
# 미싱된 값들이 전부 날아간다.

#결과는 상품명 점포명 판매량만 남겨서 추출한결과임

In [23]:
df4['상품명'].unique()

array(['BW1 473ml캔(수입)', 'BW1 355ml (낱캔)', 'RB 500ml', 'VX 500ml',
       'CAT2 500ml', 'BW1 473ml(알루미늄)_2018 Worldcup', 'BW1 740ml',
       'BW1 473ml*24캔 ALU', 'G1아일랜드 IPA 355ml',
       'G1 아일랜드 312 Wheat Ale 355ml', 'G1아일랜드 Sopie 355ml', 'GL LOLITA',
       'Juliet', 'GL Gillian', 'GL HALIA', 'STL 500ml', 'B1 Grigio 250ml',
       'BR 250ml', 'PRC 500ml', 'STLA 330*6캔(new code)', 'STL 330ml',
       'RPB 330ml', 'RB1 500ml', 'HGD2 750ml', 'HGD 500캔 (수입)',
       'HGD 330*6캔 (수입)', 'HGD3 500ml', 'HRB 500ml', 'HRB 500ml(신코드)',
       'PTG 473ml캔', 'CFR 355ml*6', 'CFR 355ml', 'CFR 330ml(신)',
       'OLB 355ml', 'OLB 355ml*6', 'OLB 500ml', 'FG 355ml', 'FG 355ml*6',
       'FG 500ml', 'FG 500ml*24캔[Traders]', 'FG 1.6L', 'FG 355ml*12캔 쿠폰팩',
       'OLB 355ml*6캔 PKG [골든크라운]', 'OLB 500ml캔 [골든크라운]',
       'OLB 500ml병 [골든크라운]', 'OLB 1.6L [골든크라운]', 'OLB 355ml*12캔 + 전용잔2',
       'OLB 355ml*12캔 + 쿨러백 (202006)', 'HGD 330ml', 'HGD 355ml*6',
       'STL 500ml*4', 'CRN 355ml', 'HGD2 250ml', 'BW1 330ml(신)',
       'BW1 740ml*3캔_Traders', 'BW1 355ml*6캔(수입)', 'STL 500ml*6캔_Traders',
       'HGD 500ml*6캔_Traders', 'STL 330ml*12캔_Multi', 'CRN 355ml*6캔',
       'G1 IPA 473ml캔', 'G1 312 473ml캔', 'BW1 237ml*8캔',
       'BW1 237ml*12캔 PKG', 'MC1 500ml캔', 'RR 355ml*6캔',
       'RR 355ml*24캔 [Traders]', 'CRN (2019)', 'HGD2 330ml*6캔',
       'RR 355*6캔 + 전용잔 기획', 'G1 473ml*8캔 [Traders]',
       'G1 IPA 473ml*4캔+전용잔', 'G1 IPA 473ml*6캔 [Traders]',
       'HGD 750ml*3캔+50cl 전용잔', 'MC1 500ml*4캔+전용잔 [2020,03]',
       'STL 500ml*6캔+스페셜 전용잔(2020 로맨틱)', 'PTG 473ml*6캔 [Traders]',
       'STL 500ml*6캔+전용잔 [2020여성의날]', 'G1IPA 473ml*4캔+기획잔 [2020/03]',
       'G1 312 473ml*4캔 + 전용잔 기획[2020.03]', 'HGD 500ml*6캔 + 레시피 노트',
       'HGD3 500ml*4캔+', 'HGD3 500ml 캔 (202006)',
       'STL *4캔+전용잔1(202006 2차)', 'G1 IPA 473ml*8캔 쿨러백',
       'HGD 495ml*4 + 전용잔 [2020.07_국산]',
       'G1 IPA 473ml*12캔 + 쿨러박스 [Traders]', 'CAT2 355ml', 'CAT1 355ml',
       'CAT2 355ml*6', 'CAT2 355ml*24', 'CAT1 355ml*6', 'CAT1 1.0L',
       'CAT1 500ml', 'CAT1 355ml*12', 'CAT2 355ml*24+쿨러백',
       'CAT2 355ml*8 절약팩', 'CAT2 640ml(신)', 'CAT2 500ml(신)',
       'CAT2 355ml*10캔(냉장패키지)', 'CAT2 250ml*10캔 냉장패키지',
       'CAT1 250ml*10*2 [Traders]', 'CAT2 250ml',
       'CAT1 48캔+신라면 멀티 [Traders]', 'CAT2 355ml*24캔+진라면',
       'CAT1 355*12캔 카카오쿨러백', 'CAT1 355ml*12캔+카카오 에코백+치',
       'CAT2 355*24캔 + 진라면 6캔', 'CAT2 1.6L*6', 'CAT2 1.6L', 'CAT1 1.6L'],
      dtype=object)

In [31]:
# 타입별 분류
# 분류시키기~
def func1(row):
    if 'CAT' in row:
        return 'C Type'
    elif 'STL' in row:
        return 'S Type'
    elif 'BW' in row:
        return 'B Type'
    else:
        return row

1287     B Type
1288     B Type
1289     B Type
1290     B Type
1291     B Type
          ...
75226    C Type
75227    C Type
75228    C Type
75229    C Type
75230    C Type
Name: 상품명, Length: 73830, dtype: object

In [33]:
df4['제품군']=df4['상품명'].apply(func1)
df4

                  상품명          점포명  판매량     제품군
1287   BW1 473ml캔(수입)   (1154)의정부점  174  B Type
1288   BW1 473ml캔(수입)    (1155)별내점  239  B Type
1289   BW1 473ml캔(수입)    (1156)풍산점  432  B Type
1290   BW1 473ml캔(수입)  (1157)김포한강점  199  B Type
1291   BW1 473ml캔(수입)    (1158)세종점  220  B Type
...               ...          ...  ...     ...
75226       CAT1 1.6L     (L38)율전점   54  C Type
75227       CAT1 1.6L     (L39)본오점   28  C Type
75228       CAT1 1.6L     (L40)검암점    9  C Type
75229       CAT1 1.6L     (L44)신길점   28  C Type
75230       CAT1 1.6L     (L46)용호점   24  C Type

[73830 rows x 4 columns]